.venv/
__pycache__/
*.pyc
model/
.ipynb_checkpoints/
src/mlruns/
src/train_DEBUG.log
src/train_PROD.log
src/train_DEMO.log
src/outputs-baseline-prod/config.json
src/outputs-baseline-prod/model.safetensors
src/outputs-baseline-prod/tokenizer.json
src/outputs-baseline-prod/tokenizer_config.json
mlruns-debug/
outputs-baseline-debug/
